name: CI
on:
  - push
  - pull_request
jobs:
  job1:
    runs-on: ubuntu-latest
    name: build discover and deploy
    steps:
      - uses: actions/checkout@v4
        with:
          repository: hugoo-devvv/Epam-githubActions-CI-CD
      - name: Start minikube
        uses: medyagh/setup-minikube@latest
      # now you can run kubectl to see the pods in the cluster
      - name: Try the cluster!
        run: kubectl get pods -A
      - name: Build image
        run: |
          minikube image build -t local/devex:v1 .
      - name: Deploy to minikube
        run: |
          kubectl apply -f deploy/k8s.yaml
          kubectl wait --for=condition=ready pod -l app=local-devex
      - name: Test service URLs
        run: |
          minikube service list
          minikube service local-devex-svc --url
          echo -n "------------------opening the service------------------"
          curl $(minikube service local-devex-svc --url)/version
